@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Bold.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: Ubuntu;
}

/* Navbar */
nav {
    height: 70px;
    background-color: #035f37;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0;
    position: fixed;
}

nav .container {
    width: 1400px;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin-right: 30px;
}
.nav-link a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    padding: 5px 0;
}

.nav-link a:hover {
    font-weight: bold;
    border-bottom: 3px solid #FFF;
}

.nav-link .active {
    border-bottom: 3px solid #FFF;
}

.search-box {
    margin-left: auto;
    background: #277151;
    border-radius: 5px;
    padding: 15px;
}

.search-btn {
    color: #ffffff;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #189ab4;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    width: 0px;
    line-height: 40px;
    transition: 0.5s;
}

.search-box:hover>.search-input {
    width: 240px;
    padding: 0 10px;
    margin-right: 5px !important;
    background: white;
    border-radius: 5px;
    color: black;
}

.search-box:hover>.search-btn {
    background: #E9dac4;
    color: #189ab4;
}

/* Navbar */

main {
    width: 1400px;
    margin: 0 auto;
}

/* HTML1 */
.HTML {
    padding-top: 110px;
    padding-bottom: 20px;
    min-height: 600px;
}

.HTML .title h1 {
    color: #277151;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
}
.HTML .title h3 {
    color: #1d1d1d;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}
.HTML .title p {
    color: #1d1d1d;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 0;
}

.HTML .title b{
    font-size: 22px;
}

.HTML .title li{
    color: #1d1d1d;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 2px 0;
}

.HTML .gambar{
    padding-left: 20px;
    padding-bottom: 20px;
}

.HTML .hastag p{
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
    background-color: grey;
    padding: 10px;
    margin-right: 5px;
}

.HTML .arrow {
    display: flex;
    justify-content: space-around;

}

/* HTML1 */

/* Footer */

.section {
    padding: 80px 13% 70px;
}

.contentFT{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap : 3.5rem;
    background: #109E61;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 15px;
    height: 240px;
}

.footer-content h4{
    color: black;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 16px;
    list-style-type: none;
}

.footer-content li a{
    display: block;
    color: #1e293b;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
} 

.footer-content li a:hover{
    transform: translatY(-3px) translateX(-5px);
    color: white 
} 

.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
    margin: 20px 0;
    gap : 3.5rem;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}
#footerL{
    width: 75;
    height: 75;
}

.fixed-footer {
    width: 100%;
    position: relative;
    background: #333;
    left: 0;
    right: 0;
    padding: 15px 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }

/* Footer */